body{
    background-color:black;
}
#prog{
    margin-left: 2%;
    font-weight: 400%;
    font-size:300%;
    color:#edf5e1;
}
li{
    
    color:black;
    
}
a{
    color:#fc4445;
}
a:hover{
   
  color:white;
}
.headings{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin:4%;
    font-weight:200%;
    font-size:200%;
    color:black;
}
#nav1{
    background-color:#537585;
    display:flex;
    justify-content: space-around;
}
#sort_algo{
    font-weight:100;
    font-size:100%;
    color:rgb(75, 73, 73);
}


